$default-transition-duration: 0.4s;
$default-transition-function: ease-out;

$container-max-width-xs: 1640px;
$container-max-width-lg: 1200px;
$container-max-width-md: 768px;
$container-max-width-sm: 320px;

$border-radius-5: 5px;
